<ul>
  <% if user_signed_in? %>

     <p> voici la liste des évènements ---- //avec des cartes// </p>
     

  <% else %>
      <p> Veuillez vous connecter pour accéder à la liste des évènements </p>

  <% end %>
</ul>